<?xml version="1.0"?>
<launch>
    
  <node pkg="rviz" type="rviz" output="screen" name="rviz"
        args="-d $(find robots_description)/config/iiwa.rviz"/>

  <param name="robot_description"
         command="$(find xacro)/xacro '$(find robots_description)/urdf/iiwa.urdf'"/>
        
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  
  <node pkg="joint_state_publisher" type="joint_state_publisher" output="screen"
        name="joint_state_publisher"/>

</launch>
